<h2>Novo comentário</h2>
<div class="card">
    <div class="card-body">
    <form action="/admin/new/comentario/" method="POST">
        <label for="comentario">Comentar</label>
        <input type="text" id="comentario" name="comentario" placeholder="Comente aqui" class="form-control">
        <a href=""><button class="submit btn btn-success form-control mt-4" >Comentar</button></a>  
    </form>
    </div>
</div>