{{#if erros}}
    {{#each erros}}
        <div class="alert alert-danger">
            {{texto}}
        </div>
    {{/each}}
{{/if}}

{{#if success_msg}}
    <div class="alert alert-success">
        {{success_msg}}
    </div>
{{/if}}

<h2 class="text-2xl font-semibold mb-4">Novo comentário</h2>
<div class="bg-white shadow-md rounded-lg p-6">
    <form action="/admin/new/comentario/" method="POST">
        <label for="comentario" class="block text-sm font-medium text-gray-700">Comentar</label>
        <input type="text" id="comentario" name="comentario" placeholder="Comente aqui" class="mt-2 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
        <button type="submit" class="mt-4 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition">Comentar</button>
    </form>
</div>
