{{#if erros}}
    {{#each erros}}
        <div class="alert alert-danger">
            {{texto}}
        </div>
    {{/each}}
{{/if}}

{{#if success_msg}}
    <div class="alert alert-success">
        {{success_msg}}
    </div>
{{/if}}
<div class="card">
    <div class="card-body">
        <h1>Maquina</h1>
        <form action="/admin/new/maquina" method="POST">
            <label for="modelo">Modelo: </label>
            <input type="text" name="modelo" class="form-control">
            <label for="marca">Marca:</label>
            <input type="text" name="marca" class="form-control">
            <label for="peso">Peso</label>
            <input type="number" name="peso" step="0.00001" class="form-control">
            <label for="potencia">Potência</label>
            <input type="number" name="potencia" step="0.00001" class="form-control">
            <label for="altura">Altura</label>
            <input type="text" name="altura" class="form-control">
            <label for="largura">Largura</label>
            <input type="number" name="largura" step="0.00001" class="form-control">
            <button class="btn btn-success mt-4" type="submit">Criar máquinas</button>
        </form>
    </div>
</div>