{{#if success_msg}}
    <div class="bg-green-500 text-white p-4 rounded-md mb-4">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="bg-red-500 text-white p-4 rounded-md mb-4">{{error_msg}}</div>
{{/if}}
