<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand" href="/">CGF Escavações</a>
<<<<<<< HEAD
=======

>>>>>>> 50218bb8d4886e3134bb9945e5680db6a61b8942
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
<<<<<<< HEAD
          <a class="nav-link active" aria-current="page" href="">Máquinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Suporte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/usuarios/cadastro">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Login</a>
=======
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/usuarios/cadastro">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/usuarios/login">Login</a>
>>>>>>> 50218bb8d4886e3134bb9945e5680db6a61b8942
        </li>
      </ul>
    </div>
  </div>
</nav>
