<nav class="bg-yellow-500 p-4 font">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-white text-xl font-semibold" href="/">CGF Escavações</a>
    <button class="text-white lg:hidden" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="lg:flex lg:items-center lg:space-x-6 hidden" id="navbarSupportedContent">
      <ul class="flex space-x-4">
        <li class="nav-item">
          <a class="nav-link text-white hover:bg-blue-700 px-3 py-2 rounded-md" href="">Máquinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white hover:bg-blue-700 px-3 py-2 rounded-md" href="">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white hover:bg-blue-700 px-3 py-2 rounded-md" href="">Suporte</a>
        </li>
        <li class="nav-item">
          {{#if user}}
            <a class="nav-link text-white hover:bg-blue-700 px-3 py-2 rounded-md" href="/usuarios/logout">Sair</a>
          </li>
          {{else}}
            <a class="nav-link text-white hover:bg-blue-700 px-3 py-2 rounded-md" href="/usuarios/cadastro">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white hover:bg-blue-700 px-3 py-2 rounded-md" href="/usuarios/login">Login</a>
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>
