{{#if erros}}
    {{#each erros}}
        <div class="alert alert-danger">
            {{texto}}
        </div>
    {{/each}}
{{/if}}

{{#if success_msg}}
    <div class="alert alert-success">
        {{success_msg}}
    </div>
{{/if}}
<h3>Crie sua conta</h3>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/new/cadastro" method="POST">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" class="form-control" required>
            <label for="sobrenome">Sobrenome: </label>
            <input type="text" name="sobrenome" class="form-control" required>
            <label for="numero">Numero de telefone</label>
            <input type="number" name="telefone" class="form-control" required>
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" required>
            <label for="senha">Senha</label>
            <input type="password" name="senha" class="form-control" required>
            <label for="senha_2">Repetir senha</label>
            <input type="password" name="senha_2" class="form-control" required>
            <button class="btn btn-success mt-4" type="submit"> Criar conta</button>
        </form>
    </div>
</div>